<!DOCTYPE html>
<html>
<head>
  <title>DICThemaLesson</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<<<<<<< HEAD

  <%= render 'layouts/header' %>
=======
>>>>>>> 996dcdc7e7619d20e4f8fdc8069c9250a01acc66

<%= yield %>

<<<<<<< HEAD
  <%= render 'layouts/footer' %>

=======
>>>>>>> 996dcdc7e7619d20e4f8fdc8069c9250a01acc66
</body>
</html>
